$purple-color: #380158;
$purple2-color: #350053;
$purple3-color: #26003b;

$gray-color: #afafaf;
$gray2-color: #4a4a4a;
$gray3-color: #c9c9c9;
$gray4-color: #f7f7f7;
$gray5-color: #606060;

$green-color: #0dc74f;
$green2-color: #0fce33;
$green3-color: #0aaa28;

$white-color: #fff;
